// Dll Inject Sample
// Copyright (c) 2014-2023 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2014-2023 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/DllInjectSample/Library.rh>
#include <XYO/DllInjectSample/Copyright.rh>
#include <XYO/DllInjectSample/Version.rh>

XYO_APPLICATION_VERSION_INFO(XYO_DLLINJECTSAMPLE,"dll-inject-sample.dll","Dll Inject Sample")
