BasedOnStyle: LLVM
Language: Cpp
UseTab: ForIndentation
IndentWidth: 8
BreakBeforeBraces: Attach
NamespaceIndentation: All
AccessModifierOffset: 0
IndentAccessModifiers: true
FixNamespaceComments: false
ColumnLimit: 0
IndentPPDirectives: AfterHash
SortIncludes: false
UseCRLF: true
AllowShortBlocksOnASingleLine: Never
---
Language: JavaScript
UseTab: ForIndentation
IndentWidth: 8
ColumnLimit: 0
UseCRLF: true
AllowShortBlocksOnASingleLine: Never
