//
// Dll Inject Sample
//
// Copyright (c) 2020-2022 Grigore Stefan <g_stefan@yahoo.com>
// Created by Grigore Stefan <g_stefan@yahoo.com>
//
// MIT License (MIT) <http://opensource.org/licenses/MIT>
//

#include "xyo-application-version--os-windows-rc.hpp"
#include "dll-inject-sample-version.hpp"
#include "dll-inject-sample-copyright.hpp"

XYO_APPLICATION_VERSION_INFO(DLL_INJECT_SAMPLE,"dll-inject-sample.dll","Dll Inject Sample");
